
.body{
	background-color: #111111;
	color: #FFFFFF;
}


.dataframe{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-color: #00FF00;
	font-size: 16px;
	
}

.overlimit{
	color: #000000;
	background-color: #FF0000;
}

.underlimit{
	color: #FFFFFF;
	background-color: #0000FF;
}

levelbar block.empty{
	background-color: #000000;
}

levelbar block.filled{
	background-color: #00FF00;
}



